#Tabs{
    background-color: #242582;
    font-size: 20px;
    font-family: sans-serif;
    color : white;
}
.Tab{
    padding: 20px;
    display: inline-block;
    cursor: pointer;
}
.Tab:hover{
    background-color: #242555;
}
#Page-Home{
    display: block;
}
.Page{
    display: none;
}
.GameTitle{
    text-align: center;
    background-color: #5a44db;
    font-family: sans-serif;
    padding: 15px;
    margin:5px 100px;
    color: white;
    border-radius: 10px;
    cursor:pointer;
    transition: 0.5s;
}
.GameTitle:hover{
    background-color: #10009e;
}